#Text_Main {
    
    width:70%;
    height:100px;
    
    position: absolute;
    top: 30%;
    bottom: 70%;
    left: 0;
    right: 0;
    margin: auto;

    font-size: 28px;
    text-align: center;

}

.fade_in {
    animation-duration:3s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#Text_Bottom {
    animation-duration: 30s;

    width: 80%;
    height: 600px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;

    margin:auto;
}

.Old_Text {
    animation-duration:2s;

    font-size:16px;
    position:absolute;
    color: #777;
    transform:rotate(12deg);
}

#Menu_Button {
    cursor: pointer;
    position:absolute;
    right: 8px;
    top: 18px;

    width: 50px;
}

.Menu_Bar {
    width: 80%;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

#Menu {
    cursor: pointer;
    position: absolute;
    top:0;
    height:80px;
    width:100%;

    font-size:36px;

    border-bottom: 2px solid #333;
}

#Menu div {
    width:50%;
    text-align: center;
    line-height: 80px;
    margin:0;
    float:left;
}
#Menu_ToTitle {
    background-color:#DDD;
}
#Menu_ToRecord {
    background-color:#CCC;
}

/*.y2016 {
    color: darkgoldenrod;
}*/

#Time_Note {
    font-size: 12px;
    font-style: italic;
}
