#Record_Container {
    margin-left:8px;
}
#Record_ToTitle{
    cursor: pointer;
    position:absolute;
    top:8px;
    right: 8px;
    width: 80px;
    text-align: center;
    border: 2px black solid;
    font-size:16px;
}